@mixin btn-uppercase {
  padding: 10px 10px 10px 10px;
  text-transform: uppercase;
  line-height: 1;
}
@mixin btn-none-transform {
  padding: 9px 10px 10px 10px;
  line-height: calc(#{$font-size-primary} + 1px);
  text-transform: none;
}
@mixin btn {
  font-size: $font-size-primary;
  font-family: $font-family-primary;
  font-weight: 300;
  border: 2px solid transparent;
  border-radius: $border-radius;
  background-image: none;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s, color 0.2s;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  &:focus {
    outline: none;
  }
}
@mixin bgHover($bg, $color) {
  background-color: $bg;
  @if $color {
    color: $color;
  }
  &:hover {
    background-color: darken($bg, 10%);
    @if $color {
      color: $color;
    }
  }
}
