[type="button"],
[type="submit"],
[type="reset"],
[type="file"],
button {
  @include bttn-none-transform;
  color: $color-text-primary;
  border: 2px solid transparent;
  cursor: pointer;
  &:focus {
    outline-color: lighten($color-link-primary, 50%);
  }
}

.bttn {
  @include bttn;
  @include bttn-none-transform;
  background-color: $color-info;
  color: initial;
  @include bgHover($color-info);
}

.bttn-primary {
  color: #fff;
  @include bgHover($color-primary);
}

.bttn-secondary {
  color: #fff;
  @include bgHover($color-secondary);
}

.bttn-success {
  @include bgHover($color-success);
}

.bttn-danger {
  color: #fff;
  @include bgHover($color-danger);
}

.bttn-warning {
  background-color: $color-warning;
  &:hover {
    background-color: darken($color-warning, 5%);
  }
}

.bttn-info {
  @include bgHover($color-info);
}

.bttn-light {
  @include bgHover($color-light);
}

.bttn-dark {
  @include bgHover($color-dark);
}

.bttn-link {
  color: $color-link;
  background: transparent;
  &:hover {
    background: transparent;
  }
}
