[type="button"],
[type="submit"],
[type="reset"],
[type="file"],
button {
  @include btn-none-transform;
  color: $color-text-primary;
  border: 2px solid transparent;
  cursor: pointer;
  &:focus {
    outline-color: lighten($color-link-primary, 50%);
  }
}

.btn {
  @include btn;
  @include btn-none-transform;
  background-color: $color-info;
  color: initial;
  @include bgHover($color-info);
}

.btn-primary {
  color: #fff;
  @include bgHover($color-primary);
}

.btn-secondary {
  color: #fff;
  @include bgHover($color-secondary);
}

.btn-success {
  @include bgHover($color-success);
}

.btn-danger {
  color: #fff;
  @include bgHover($color-danger);
}

.btn-warning {
  background-color: $color-warning;
  &:hover {
    background-color: darken($color-warning, 5%);
  }
}

.btn-info {
  @include bgHover($color-info);
}

.btn-light {
  @include bgHover($color-light);
}

.btn-dark {
  @include bgHover($color-dark);
}

.btn-link {
  color: $color-link;
  background: transparent;
  &:hover {
    background: transparent;
  }
}
